body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding:20px;
    background-color: #f0f0f0;
}

/* 信号機 */
.traffic-light{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 100px;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
}

/* ライト */
.light{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.light-gray{
    background-color: gray;
}
.light-red{
    background-color: red;
}
.light-yellow{
    background-color: yellow;
}
.light-blue{
    background-color: blue;
}


/* 点灯しているようにぼかしを追加 */
.selected.light-red {
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.7);
}
.selected.light-yellow {
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.669);
}
.selected.light-blue {
    box-shadow: 0 0 20px 10px rgba(0, 0, 255, 0.7);
}
